faster-whisper
grpcio
grpcio-tools
numpy
onnxruntime
soundfile
torchaudio
pyyaml
sounddevice
fastapi
uvicorn
websockets
mypy-protobuf
torch
openai-whisper
silero-vad
requests
pytest
psutil
matplotlib
